:root {
    --main-dark-cl: #434455;
    --main-background-cl: #FFFFFF;
    --main-title-cl: #2E2F42;
    --light-cl: #F4F4FD;
    --active-press-cl: #404BBF;
    --link-blue-cl: #4D5AE5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-dark-cl);
    background-color: var(--main-background-cl);
}

a {
    color: currentColor;
    text-decoration: none;
} 

button {
    font-family: inherit;
    cursor: pointer;
    background: var(--link-blue-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-background-cl);
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-blue-cl);
}

.list {
    list-style: none;
}

.studio {
    color: var(--main-title-cl);
}

.studio-down {
    color: var(--light-cl);
}

.link {
    text-decoration: none;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-cl);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-press-cl);
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    font-style: normal;
}

.address-link:hover,
.address-link:focus {
    color: var(--active-press-cl);
}

.hero-section {
    background-color: var(--main-title-cl);
    color: var(--main-background-cl);
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    background-color: var(--link-blue-cl);
    color: var(--main-background-cl);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--active-press-cl);
}

.features-section {
    text-align: left;
}

.general-section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-cl);
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

.what-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-cl);
}

.section-team {
    background-color: var(--light-cl);
}

.team-box {
    background-color: var(--main-background-cl);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-cl);
}

.portfolio-btn {
    color: var(--link-blue-cl);
    background-color: var(--light-cl);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--active-press-cl);
    color: var(--main-background-cl);
    }
   
   

.footer-section {
    background-color: var(--main-title-cl);
    text-align: left;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-cl);
}